NET RX           LOC = AA9  | IOSTANDARD=LVCMOS33;  # "JA4"
NET TX           LOC = Y10  | IOSTANDARD=LVCMOS33;  # "JA3"

#NET SWITCH(0)           LOC = F22  | IOSTANDARD=LVCMOS18;  # "SW0"
#NET SWITCH(1)           LOC = G22  | IOSTANDARD=LVCMOS18;  # "SW1"
#NET SWITCH(2)           LOC = H22  | IOSTANDARD=LVCMOS18;  # "SW2"
#NET SWITCH(3)           LOC = F21  | IOSTANDARD=LVCMOS18;  # "SW3"
#NET SWITCH(4)           LOC = H19  | IOSTANDARD=LVCMOS18;  # "SW4"
#NET SWITCH(5)           LOC = H18  | IOSTANDARD=LVCMOS18;  # "SW5"
#NET SWITCH(6)           LOC = H17  | IOSTANDARD=LVCMOS18;  # "SW6"
#NET SWITCH(7)           LOC = M15  | IOSTANDARD=LVCMOS18;  # "SW7"

NET LED(0)           LOC = T22  | IOSTANDARD=LVCMOS33;  # "LD0"
NET LED(1)           LOC = T21  | IOSTANDARD=LVCMOS33;  # "LD1"
NET LED(2)           LOC = U22  | IOSTANDARD=LVCMOS33;  # "LD2"
NET LED(3)           LOC = U21  | IOSTANDARD=LVCMOS33;  # "LD3"
NET LED(4)           LOC = V22  | IOSTANDARD=LVCMOS33;  # "LD4"
NET LED(5)           LOC = W22  | IOSTANDARD=LVCMOS33;  # "LD5"
NET LED(6)           LOC = U19  | IOSTANDARD=LVCMOS33;  # "LD6"
NET LED(7)           LOC = U14  | IOSTANDARD=LVCMOS33;  # "LD7"

net CLK LOC = Y9 | IOSTANDARD = LVCMOS33;
