<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="stylesheets/prism.css" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-516081-9', 'auto');
  ga('send', 'pageview');
</script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="index.html"><h1 class="title">Darkroom</h1></a>
        <ul>
          <li><a href="https://github.com/jameshegarty/darkroom/tarball/master">Download <strong>TAR Ball</strong></a></li><li><a href="http://github.com/jameshegarty/darkroom">View On <strong>GitHub</strong></a></li>
        </ul>
        <p><a href="demo.html">Try Darkroom Online</a></p>
        <p><a href="index.html" >Getting Started</a></p>
        <p><a href="publications.html">Publications</a></p>
      </header>
      <footer>
      <p><a href="https://github.com/jameshegarty">James Hegarty</a> <br>jhegarty at stanford dot edu</p>
      <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
      <section class="language-terra">
      {{ content }}
      </section>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script src="javascripts/prism.js"></script>
  </body>
</html>
